
body{
    background-color: rgb(32, 32, 32);
    color: black;
}

.card_body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar {
    background-color: rgb(255, 255, 255);
    color: white;
    font-family: poppins, sans-serif;
}

.navbar-brand {
    font-family: poppins, sans-serif;
}

.accordion {
    font-family: poppins, sans-serif;
    margin-top: 1%;
    padding : 60px;
    

}

.skillinfo {
    padding: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.carousel {
    margin-top: 1%;
    padding: 60px;
}
